<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/admin/register" method="POST">
        <h1>Register</h1>
        Name <br>
        <input name="name"><br>
        Username <br>
        <input name="username"><br>
        Password <br>
        <input name="password" type="password"><br>
        Address <br>
        <textarea name="address" rows="4" cols="20"></textarea><br>
        E-mail <br>
        <input name="email"><br>
        Phone <br>
        <input name="phone"><br>
        <button>Create</button>
        <button><a href="/">Cancel</a></button>
    </form>
</body>
</html>