<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <%- include("nav.ejs") %>
    <table border="1">
        <thead>
            <th>Order ID</th>
            <th>Patient's Name</th>
            <th>Order ID</th>
            <th>Patient's Name</th>
            <th>Medicine Name</th>
            <th>Date</th>
            <th>Actions</th>
        </thead>
        <% for(let i in data) { %>
        <% } %> 
    </table> 
</body>
</html>