<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <nav>
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/">Home</a>
        </div>
    </nav>
    <label for="search">Search</label>
    <input name="search" id="search"><br>
    <table border="1">
        <thead>
            <th>Order ID</th>
            <th>Patient's Name</th>
            <th>Medicine Name</th>
            <th>Amount of Medicine</th>
            <th>Action</th>
        </thead>
    </table>
</body>
</html>