<nav>
    <div>
        <a href="/admin/">Home</a>
    </div>
    <div>
        <a href="/admin/register">Add Admin</a>
    </div>
    <div>
        <a href="/admin/order">Order</a>
    </div>
    <div>
        <a href="/admin/logout">Log out</a>
    </div>
</nav>