<nav>
    <div>
        <a href="/admin">Home</a>
    </div>
    <div>
        <a href="/admin/buy">Buy Medicine</a>
    </div>
    <div>
        <a href="/admin/history">Order History</a>
    </div>
    <div>
        <a href="/admin/logout">Log out</a>
    </div>
</nav>