<nav>
    <div>
        <a href="/patient/profile">Profile</a>
    </div>
    <div>
        <a href="/patient/buy">Buy Medicine</a>
    </div>
    <div>
        <a href="/patient/history">Order History</a>
    </div>
    <div>
        <a href="/patient/logout">Log out</a>
    </div>
</nav>