<nav>
    <div>
        <a href="/patient/">Home</a>
    </div>
    <div>
        <a href="/patient/order">Buy Medicine</a>
    </div>
    <div>
        <a href="/patient/history">Order History</a>
    </div>
    <div>
        <a href="/patient/logout">Log out</a>
    </div>
</nav>